html {
  zoom: 90%;
  background-color: #F5F7F6;
}

body {
  color: #333333;
  font-family: "Times New Roman", Times, serif;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Table styles */
table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #E8F1F2;
}

th,
td {
  text-align: center;
  padding: 6px;
  max-width: 120px;
  word-wrap: break-word;
}

th {
  background-color: #547980;
  color: #FFFFFF;
  border-bottom: 1px dotted #000000;
}

/* Dotted lines between rows */
tr:not(:last-child) {
  border-bottom: 1px dotted #000000;
}

/* Label styles */
label {
  cursor: pointer;
}


#dropdown {
  padding: 8px;
  font-size: 14px;
  width: 200px;
  border-radius: 4px;
  background-color: #E8F1F2;
}

#heading{
  font-size: 25px;
}

#output{
  font-size: 20px;
}

/* Print Styles */
@media print {
  .no-print {
    display: none;
  }
}

/* Mobile Styles */
@media (max-width: 480px) {
  th,
  td {
    font-size: 16px;
  }
}

/* Page Settings for Printing */
@page {
  margin: 2cm;
}
