html {
  zoom: 90%;
}

/* style tables */
table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  max-width: 200px; 
  word-wrap: break-word; 
}

/* style headers */
th {
  background-color: #c357e4;
  color: white;
}


/* cursor style for label */
label {
  cursor: pointer;
}

@page {
  margin: 3cm;
}

/* adjusts font size for mobiles */
@media (max-width: 480px) {
  th, td {
    font-size: 14px;
  }
}
