
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
 
  th {
    background-color: #c357e4;
    color: white;
  }
  
  aside{
    display:none;
  }





  
  @page {
    margin: 3cm;
    
  }

  @media print {
    .no-print {
      display: none;
    }
  }
  
 
  

  